[submodule "src/pugixml-1.13"]
	path = src/pugixml-1.13
	url = https://github.com/zeux/pugixml.git
[submodule "src/googletest-1.15.2"]
	path = src/googletest-1.15.2
	url = https://github.com/google/googletest.git
