[submodule "src/googletest-1.15.2"]
	path = src/googletest-1.15.2
	url = https://github.com/google/googletest.git
[submodule "src/spdlog-1.16"]
	path = src/spdlog-1.16
	url = https://github.com/gabime/spdlog.git
[submodule "src/protobuf-4.25.8"]
	path = src/protobuf-4.25.8
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "src/pugixml-1.15"]
	path = src/pugixml-1.15
	url = https://github.com/zeux/pugixml.git
[submodule "src/json-3.12"]
	path = src/json-3.12
	url = https://github.com/nlohmann/json.git
[submodule "src/libzmq-4.3.5"]
	path = src/libzmq-4.3.5
	url = https://github.com/zeromq/libzmq.git
[submodule "src/cppzmq-4.11"]
	path = src/cppzmq-4.11
	url = https://github.com/zeromq/cppzmq.git
[submodule "src/eigen-3.4.1"]
	path = src/eigen-3.4.1
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/Hypodermic-2.5.3"]
	path = src/Hypodermic-2.5.3
	url = https://github.com/ybainier/Hypodermic.git
[submodule "src/libmodbus-3.1.11"]
	path = src/libmodbus-3.1.11
	url = https://github.com/stephane/libmodbus.git
[submodule "src/paho.mqtt.cpp-1.5.3"]
	path = src/paho.mqtt.cpp-1.5.3
	url = https://github.com/eclipse-paho/paho.mqtt.cpp.git
[submodule "src/mosquitto-2.0.22"]
	path = src/mosquitto-2.0.22
	url = https://github.com/eclipse-mosquitto/mosquitto.git
[submodule "src/SOEM-2.0"]
	path = src/SOEM-2.0
	url = https://github.com/OpenEtherCATsociety/SOEM.git
[submodule "src/SOES-3.1"]
	path = src/SOES-3.1
	url = https://github.com/OpenEtherCATsociety/SOES.git
[submodule "src/sml-1.1.13"]
	path = src/sml-1.1.13
	url = https://github.com/boost-ext/sml.git
[submodule "src/ITK-5.4.5"]
	path = src/ITK-5.4.5
	url = https://github.com/InsightSoftwareConsortium/ITK.git
[submodule "src/epics-base-7.0.10"]
	path = src/epics-base-7.0.10
	url = https://github.com/epics-base/epics-base.git
[submodule "src/folly-2025.12.15"]
	path = src/folly-2025.12.15
	url = https://github.com/facebook/folly.git
[submodule "src/jwt-cpp-0.7.1"]
	path = src/jwt-cpp-0.7.1
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "src/jsoncons-1.5"]
	path = src/jsoncons-1.5
	url = https://github.com/danielaparker/jsoncons.git
[submodule "src/VTK-9.5.2"]
	path = src/VTK-9.5.2
	url = https://github.com/Kitware/VTK.git
[submodule "src/RTK-2.7"]
	path = src/RTK-2.7
	url = https://github.com/RTKConsortium/RTK.git
[submodule "src/opencv-4.12"]
	path = src/opencv-4.12
	url = https://github.com/opencv/opencv.git
